---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<Layout title="Login">
  <Header />
  <div class="lg:px-8 flex flex-grow items-center justify-center px-4 sm:px-6">
    <div class="w-full max-w-md space-y-8">
      <div class="rounded-lg bg-white px-4 py-8 shadow sm:px-10">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign in to your account
        </h2>
        <form id="login-form" class="mt-8 space-y-6">
          <div class="-space-y-px rounded-md shadow-sm">
            <div>
              <label for="email" class="sr-only">Email address</label>
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                placeholder="Email address"
              />
            </div>
            <div>
              <label for="password" class="sr-only">Password</label>
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                placeholder="Password"
              />
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
              />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                Remember me
              </label>
            </div>

            <div class="text-sm">
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500"
              >
                Forgot your password?
              </a>
            </div>
          </div>

          <div>
            <button
              type="submit"
              id="login-button"
              class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              Sign in
            </button>
          </div>
          <div id="error-message" class="mt-2 text-sm text-red-500"></div>
        </form>
        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="bg-white px-2 text-gray-500">
                Don't have an account?
              </span>
            </div>
          </div>
          <div class="mt-6 text-center">
            <a
              href="/auth/sign-up"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { signIn } from "auth-astro/client";

    document
      .getElementById("login-form")
      ?.addEventListener("submit", async e => {
        e.preventDefault();
        const email = (document.getElementById("email") as HTMLInputElement)
          ?.value;
        const password = (
          document.getElementById("password") as HTMLInputElement
        )?.value;
        const errorMessageElement = document.getElementById("error-message");

        const result = await signIn("credentials", {
          email,
          password,
          redirect: false,
        });
        const json = (await result?.json()) as { url?: string };
        if (json?.url?.includes("?")) {
          if (errorMessageElement) {
            errorMessageElement.textContent = "Invalid email or password.";
          }
        } else {
          window.location.href = "/";
        }
      });
  </script>
</Layout>
