---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { Icon } from "astro-icon/components";
import { SignInForm } from "@/components/react/SignInForm";
---

<Layout title="Login">
  <Header />
  <div class="lg:px-8 flex flex-grow items-center justify-center px-4 sm:px-6">
    <div class="w-full max-w-md space-y-8">
      <div class="rounded-lg bg-white px-4 py-8 shadow sm:px-10">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign in to your account
        </h2>

        <SignInForm client:load />
        <div class="pt-4">
          <button
            type="button"
            id="google-button"
            class="flex w-full items-center justify-center rounded-md bg-indigo-600 px-4 py-2 text-white"
          >
            <Icon name="google" class="mr-2 h-5 w-5" />
            Google
          </button>
        </div>

        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="bg-white px-2 text-gray-500">
                Don't have an account?
              </span>
            </div>
          </div>
          <div class="mt-6 text-center">
            <a
              href="/auth/sign-up"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { signIn } from "auth-astro/client";

    const googleButton = document.getElementById("google-button");
    googleButton?.addEventListener("click", async () => {
      await signIn("google", { callbackUrl: "/" });
    });
  </script>
</Layout>
