.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: var(--color-fill);
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 20px;
}

@media (min-width: 640px) {
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
  }
}
