---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search.tsx";
import Main from "@layouts/Main.astro";

const API_URL = import.meta.env.PUBLIC_API_URL;

async function fetchNovels() {
  return await fetch(`${API_URL}/novels/all`).then(res => res.json());
}

const novels = await fetchNovels();
---

<Layout title="Search | Webtales">
  <Header activeNav="search" />
  <div class="pt-4 sm:pt-10">
    <Main pageTitle="Search" pageDesc="Search for novels...">
      <SearchBar client:load NovelList={novels} />
    </Main>
  </div>
  <Footer />
</Layout>
