<div class="mx-auto w-full max-w-xs">
  <div id="frame" style="width: 468px;">
    <iframe
      data-aa="2348368"
      src="//ad.a-ads.com/2348368?size=468x60"
      style="width:468px; height:60px; border:0px; padding:0; overflow:hidden; background-color: transparent;"
    ></iframe><a
      style="display: block; text-align: right; font-size: 12px"
      id="frame-link"
      href="https://aads.com/campaigns/new/?source_id=2348368&source_type=ad_unit&partner=2348368"
      >Advertise here</a>
  </div>
</div>
