<div class="mx-auto w-full max-w-xs">
  <iframe
    data-aa="2348368"
    src="//ad.a-ads.com/2348368?size=300x250"
    class="h-auto w-full overflow-hidden border-0 bg-transparent p-0 sm:h-64"
  ></iframe>
  <a
    class="block text-center text-xs"
    id="preview-link"
    href="https://aads.com/campaigns/new/?source_id=2348368&source_type=ad_unit&partner=2348368"
    >Advertise here</a
  >
</div>
