<div id="frame" class="ad-container">
  <iframe
    data-aa="2348368"
    src="//ad.a-ads.com/2348368?size=300x250"
    class="ad-iframe"></iframe>
  <a
    class="ad-link"
    id="preview-link"
    href="https://aads.com/campaigns/new/?source_id=2348368&source_type=ad_unit&partner=2348368"
    >Advertise here</a
  >
</div>

<style>
  .ad-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .ad-iframe {
    width: 100%;
    height: auto;
    border: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }

  .ad-link {
    display: block;
    text-align: right;
    font-size: 12px;
  }

  @media (min-width: 640px) {
    .ad-container {
      max-width: 300px;
    }

    .ad-iframe {
      height: 250px;
    }
  }
</style>
