

<div
  id="adblock-message"
  class="fixed left-0 top-0 z-50 hidden w-full bg-yellow-400 p-2 text-center text-black"
>
  <p>Please disable your ad blocker to support our website.</p>
  <p>Disable ad blocker then refresh the page.</p>
</div>

<script type="module">
  const adBlockDetectionScript = function detectAdBlock() {
    let adBlockEnabled = false;
    const ad = document.createElement("div");
    ad.innerHTML = "&nbsp;";
    ad.className = "adsbox";
    document.body.appendChild(ad);
    window.setTimeout(function () {
      if (ad.offsetHeight === 0) {
        adBlockEnabled = true;
      }
      ad.remove();
      if (adBlockEnabled) {
        console.log("AdBlock is enabled");
      }
    }, 100);
  };
  adBlockDetectionScript();
</script>
