---
import { Icon } from "astro-icon/components";

const discordInviteLink = "https://discord.gg/bNhZgHmEae";
---

<div
  class="discord-ad flex flex-col items-center justify-center rounded-lg bg-skin-accent p-4 sm:flex-row sm:p-6"
>
  <div class="mb-4 flex items-center justify-start sm:mb-0 sm:mr-4">
    <Icon name="discord" class="mr-4 size-10 sm:mr-6" />
    <div>
      <h3 class="text-base font-semibold sm:text-lg">
        Join our Discord Server!
      </h3>
      <p class="text-xs sm:text-sm">
        Stay updated and connect with the community.
      </p>
    </div>
  </div>
  <a
    href={discordInviteLink}
    class="rounded-lg bg-white px-4 py-2 font-semibold text-blue-600 transition duration-150 ease-in-out hover:bg-gray-200"
  >
    Join Now
  </a>
</div>
