---
import Hr from "./Hr.astro";
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;

const footerLinks = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Contact", href: "/contact" },
  { label: "Privacy Policy", href: "/privacy" },
];
---

<footer class={`w-full ${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="mx-auto max-w-6xl px-4 py-8">
    <div class="md:flex-row flex flex-col items-center justify-between">
      <!-- <div
        class="md:justify-start md:mb-0 mb-4 flex flex-wrap justify-center gap-4"
      >
        {footerLinks.map(link => <a href={link.href}>{link.label}</a>)}
      </div> -->
    </div>
    <div class="mb-2 text-center">
      <a
        href="https://discord.gg/d5GGnrjX"
        class="text-blue-500 hover:underline"
        >Join our Discord

        <Icon name={"discord"} />
      </a>
    </div>
    <div class="mb-4 text-center text-sm">
      <span>&copy; {currentYear} WebTales. All rights reserved.</span>
    </div>
  </div>
</footer>
