---
import  BackgroundGradient  from "./BackgroundGradient.astro";
---

<BackgroundGradient className="rounded-[22px] max-w-sm p-4 sm:p-10 bg-white dark:bg-zinc-900" containerClassName="max-w-sm mx-auto">
  <img
          src={`/jordans.webp`}
          alt="jordans"
          height="400"
          width="400"
          class="object-contain"
        />
        <p class="text-base sm:text-xl">
          Air Jordan 4 Retro Reimagined
        </p>
 
        <p class="text-sm ">
          The Air Jordan 4 Retro Reimagined Bred will release on Saturday,
          February 17, 2024. Your best opportunity to get these right now is by
          entering raffles and waiting for the official releases.
        </p>
        <button class="rounded-full pl-4 pr-1 py-1 flex items-center space-x-1 bg-black mt-4 text-xs font-bold dark:bg-zinc-800">
          <span>Buy now </span>
          <span class="bg-zinc-700 rounded-full text-[0.6rem] px-2 py-0 ">
            $100
          </span>
        </button>
</BackgroundGradient>