---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import SearchBar from "@/components/preact/Search";
import Main from "@/layouts/Main.astro";
import { API_URL } from "@/constants/index";

async function fetchNovels() {
  return await fetch(`${API_URL}/novel/all`).then(res => res.json());
}

const novels = await fetchNovels();
---

<Layout title="Search | Webtales">
  <Header activeNav="search" />
  <div class="pt-4 sm:pt-10">
    <Main pageTitle="Search" pageDesc="Search for novels...">
      <SearchBar client:load NovelList={novels} />
    </Main>
  </div>
</Layout>
