---
const { props } = Astro;
---

<main id="main-content">
  {
    "titleTransition" in props ? (
      <h1>
        {props.pageTitle.split("").map((char: string, index: number) => (
          <span class="title-char" style={`transition-delay: ${index * 50}ms;`}>
            {char}
          </span>
        ))}
      </h1>
    ) : (
      <h1>{props.pageTitle}</h1>
    )
  }
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full px-4 pb-4;
  }
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
  .title-char {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }
  .title-char:hover {
    opacity: 1;
    transform: translateY(0);
  }
</style>
